<!DOCTYPE html>
<html>
	<head>
		<meta name="robots" content="noindex,nofollow">
		<title>Muted</title>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<style>
			body {
				margin: 0;
				font-family: 'Open Sans', sans-serif;
			}
			#app {
				display: table;
				width: 100%;
				height: 100vh;
			}
			#app h1 {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				text-transform: uppercase;
				font-size: 5rem;
				color: #fff;
			}
		</style>
		
	</head>
	<body>
		<div id="app">
			<h1>{{ name }}<br> you're muted</h1>
		</div>
		<script>
		
			// i know i'm muted, i muted myself ~ Dom McLaughlin 2020
		
			var app = new Vue({
				el: '#app',
				data: {
					name: null,
					activeBackground: null,
					backgrounds: [
						'#FF4848', '#FF68DD', '#FF62B0', '#FE67EB', '#E469FE', '#D568FD', '#9669FE',
						'#5757FF', '#62A9FF', '#F70000', '#B9264F', '#990099', '#74138C', '#0000CE',
						'#1F88A7', '#4A9586'
					]
				},
				created() {
					// populate the name property with the value in the query string
					this.name = new URLSearchParams(window.location.search).get('name') || 'hey';
					
					// set the initial background colour
					this.updateBackgroundColour();
					
					setInterval(() => {
						// update the background colour every second
						this.updateBackgroundColour();
					}, 1000);
				},
				methods: {
					updateBackgroundColour() {
						// set the body background colour
						document.body.style.backgroundColor = this.backgrounds[Math.floor(Math.random() * this.backgrounds.length)];
					}
				}
			});
		</script>
	</body>
</html>